@use "../mixins/modal-styles";
@import "../variables/variables.scss";

.add-karyawan {
  width: 80%;

  .unhide {
    cursor: pointer;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $secondary-color;
    padding: 1rem 2.5rem;

    div {
      display: flex;
      align-items: center;

      .wrapper-img {
        width: 24px;
        height: 24px;

        img {
          cursor: pointer;
        }
      }

      h1 {
        font-size: 24px;
        font-weight: 500;
        margin-left: 2rem;
      }
    }

    .btn-submit {
      width: 125px;
      height: 40px;
      background-color: $primary-color;
      border-radius: 8px;
      border: none;
      outline: none;
      color: white;
      display: grid;
      place-items: center;
      cursor: pointer;
    }

    .btn-submit:disabled {
      // background-color: #5a6474;
      opacity: 1;
    }
  }

  .form-foto-profile {
    display: flex;
  }

  .form {
    width: 65%;
    display: flex;
    flex-direction: column;
    padding: 2rem 2.5rem;

    .validator-text {
      color: #ff4530;
      font-size: 12px;
      margin: 0.25rem 0rem 0rem;
    }

    label {
      font-size: 18px;
      font-weight: 500;
      color: black;
      margin-bottom: 1rem;
    }

    input {
      height: 45px;
      border: 2px solid #eceef2;
      border-radius: 8px;
      outline: none;
      font-size: 14px;
      color: #5a6474;
      padding: 0 1rem;
    }

    input::placeholder {
      color: #9b9b9b;
    }

    .nama,
    .niy,
    .email,
    .no-hp,
    .jabatan,
    .gender,
    .alamat {
      display: flex;
      flex-direction: column;
      position: relative;
    }

    .nama,
    .email,
    .no-hp,
    .jabatan-gender {
      margin-bottom: 1rem;
    }

    .nama {
      img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        margin-bottom: 1rem;
        position: absolute;
        right: 0;
        transform: translate(-50%, 225%);
        cursor: pointer;
      }
    }

    .niy {
      margin-bottom: 1.5rem;

      .validator-text.pwd {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(20px);
      }

      img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translate(-50%, -50%);
      }
    }

    .jabatan-gender {
      display: flex;
      flex-direction: column;

      .select {
        select {
          width: 100%;
          height: 45px;
          border: 2px solid #eceef2;
          border-radius: 8px;
          outline: none;
          font-size: 14px;
          color: #5a6474;
          padding: 0 1rem;
        }

        select::placeholder {
          color: #9b9b9b;
        }

        select:focus {
          border: 2px solid $primary-color;
        }

        select {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background-image: url(../../assets/icons/arrow-down.svg);
          background-repeat: no-repeat;
          background-position: right 1rem center;
          background-size: 1em;
        }
      }

      .jabatan {
        width: 100%;
      }
    }
  }

  .form-file-upload {
    max-width: 100%;
    height: fit-content;
    text-align: center;
    position: relative;
    padding-top: 2rem;

    h1:nth-child(1) {
      font-size: 18px;
      font-weight: 500;
      text-align: left;
      margin-bottom: 1rem;
    }

    .wrap-text {
      h1 {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  #input-file-upload {
    display: none;
  }

  #label-file-upload {
    height: 100%;
    height: 193px;
    width: 386px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-radius: 8px;
    border-style: dashed;
    border-color: $primary-color;
    background-color: #fafafa;
    padding: 1rem 0;
    cursor: pointer;
  }

  .upload-button {
    cursor: pointer;
    font-size: 12px;
    border: none;
    background-color: #fafafa;
    color: #9b9b9b;
    line-height: 24px;
  }

  .upload-button:hover {
    text-decoration-line: underline;
  }

  .preview__img {
    height: 100%;
    border-radius: 50%;
  }

  #label-file-upload.drag-active {
    background-color: #ffffff;
  }

  #drag-file-element {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
}

.wrapper__btn {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;

  button {
    @include modal-styles.btn__alert;
  }

  .edit__btn {
    background-color: $primary-color;
  }

  .ganti__btn {
    background-color: $primary-color;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.bg-modal {
  @include modal-styles.bg-modal;

  .alert-modal {
    @include modal-styles.alert-modal;
  }
}

.bg__modal__cropper {
  @include modal-styles.bg-modal;

  .modal__cropper {
    width: 500px;
    height: 600px;
    background-color: white;
    border-radius: 10px;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 1rem 0;

    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 1rem;
      margin-right: auto;
      padding-left: 1rem;
    }

    .wrapper__btn {
      width: 100%;

      display: flex;
      justify-content: space-between;
      margin-top: auto;
      padding: 0 1rem;

      button {
        @include modal-styles.btn__alert;
      }

      button:first-child {
        background-color: $danger-color;
      }

      button:nth-child(2) {
        background-color: $primary-color;
      }
    }
  }
}
.reactEasyCrop_Container {
  width: 100%;
  height: 80%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  filter: none;
  position: relative !important;
}
