@import "../variables/variables.scss";

.body{
    max-width: 1440px;
    display: flex;
    // justify-content: space-between;
    margin: 0 auto;
}

// remove scrollbar 
::-webkit-scrollbar {
    display: none;
}

.dashboard-and-kehadiran{
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    padding: 2rem;
    width: 837px;
    // width: 50%;
}

.search{
    background-image: url(../../assets/icons/search-icon.svg);
    background-repeat: no-repeat;
}

.search::placeholder, .search{
    color: #A6A6A6;
}

.active-sidebar{
    color: $primary-color;
}

.wrapper-circular{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;

    .card-circular-statistic{
        display: flex;
        align-items: center;
        width: 250px;
        background-color: white;
        padding: 1rem;
        border: 1px solid $secondary-color;
        border-radius: 10px;

        p{
            margin: 0;
            margin-left: 1.5rem;
            color: $grey;
            font-size: 14px;
            font-weight: 500;
        }

        .wrapper-value{
          p:nth-child(2){
            margin-top: 0px;
          }
        }
    }
}

.sidebar-right{
    border-left: 1px solid $secondary-color;
    padding: 2rem;
    width: 342px;
    // width: 30%;
    position: relative;
}

.profile{
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    width: 100%;

    img:nth-child(1){
        width: 40px;
        height: 40px;
        margin-right: 1rem;
    }

    img:nth-child(3){
        transform: scale(2);
        margin-left: auto;
    }
}

.sidebar-right{
    width: 342px;
}

.react-calendar {
  width: 300px;
  max-width: 100%;
  background: white;
  line-height: 1.125em;
  margin: 2rem 0;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
    font-size: 11px;
    font-weight: 500;
    padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  font-size: 12px;
  height: 42px;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  border-radius: 50%;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #ffff76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: $primary-color;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: $primary-color;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

.react-calendar__navigation__label{
    display: flex;
    align-items: center;
}

.react-calendar__navigation__label__labelText{
    font-size: 20px;
    font-weight: 600;    
    text-align: left;
}

.react-calendar__navigation__arrow{
    font-size: 30px;
    color: $primary-color;
}

.react-calendar__tile--hasActive{
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-calendar__navigation__prev2-button{
    display: none;
}

.react-calendar__navigation__next2-button{
  display: none;
}

.react-calendar__navigation__next-button{
  order: 1;
}

.react-calendar__navigation__prev-button{
  order: 1;
}

.dots:before {
  display: block;
  height: .1px;
  width: .1px;
  content: '';
  margin: 20px 0px 0 15px;
  -webkit-animation: spin 1s infinite;
          animation: spin 1s infinite;
  border-radius: 100%;
  -webkit-box-shadow: 10px 0 0 3px $primary-color, -10px 0 0 3px $primary-color;
          box-shadow: 10px 0 0 3px $primary-color, -10px 0 0 3px $primary-color; }

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }