@import "./variables/variables.scss";

.body{
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.dashboard-and-kehadiran{
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    padding: 2rem;
    width: 837px;
}

.active-sidebar{
    color: $primary-color;
}

.wrapper-circular{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;

    .card-circular-statistic{
        display: flex;
        align-items: center;
        width: 250px;
        background-color: white;
        padding: 1rem;
        border: 1px solid $secondary-color;
        border-radius: 10px;

        p{
            margin: 0;
            margin-left: 1.5rem;
            color: $grey;
            font-size: 14px;
            font-weight: 500;
        }

        p:nth-child(2){
            font-size: 20px;
            font-weight: 600;
            color: $primary-color;
        }
    }
}

.sidebar-right{
    border-left: 1px solid $secondary-color;
    padding: 2rem;
    width: 342px;
    position: relative;
}

.profile{
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    width: 100%;

    img:nth-child(1){
        width: 40px;
        height: 40px;
        margin-right: 1rem;
    }

    img:nth-child(3){
        transform: scale(2);
        margin-left: auto;
    }
}