@import "../variables/variables.scss";

.dashboard {
  .search {
    background-position: 5% 50%;
    background-color: $bg-button;
    text-indent: 2rem;
    border: none;
    width: 300px;
    padding: 1rem;
    font-size: 16px;
    outline: none;
    font-weight: 400;
    margin-bottom: 2rem;
  }

  h1 {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 1rem;
  }

  .statistic-chart {
    width: 100%;
    background-color: white;
    padding: 1rem;
    border: 1px solid $secondary-color;
    border-radius: 10px;
    margin-top: 1rem;

    .div-1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

      p {
        font-weight: 500;
        font-size: 14px;
      }

      .dropdown {
        cursor: pointer;

        button {
          width: 90px;
          height: 25px;
          padding-left: 12px;
          border: none;
          background-color: $background-color;
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: $grey;
          cursor: pointer;
          padding-right: 0.5rem;
          border-radius: 5px;

          img {
            transition: ease-in-out 0.3s transform;
          }

          img.active {
            transform: rotate(180deg);
          }
        }

        button:hover {
          background-color: $bg-button;
        }

        .drop-down-content {
          height: auto;
          position: absolute;
          z-index: 9999;

          ul {
            margin-top: 0.5rem;
            padding-left: 0;
            outline: 1px solid #eceef2;
            border-radius: 5px;

            li {
              // border-radius: 5px;
              width: 90px;
              height: 25px;
              padding-left: 12px;
              list-style: none;
              font-size: 13px;
              background-color: white;
              width: 90px;
              color: $grey;
              display: flex;
              align-items: center;
            }

            li:hover {
              background-color: $bg-button;
            }

            .activeDropdownli {
              background-color: $bg-button;
            }
          }
        }
      }
    }

    .div-2 {
      display: flex;

      .recharts-wrapper {
        position: relative;
        right: 30px;
      }

      .chartInfo {
        display: flex;
        flex-direction: column;

        p:nth-child(1) {
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 1rem;
        }

        .role {
          display: flex;
          align-items: center;
          height: 30px;
          color: $grey;
          font-weight: 500;
          font-size: 12px;

          div {
            width: 20px;
            height: 20px;
            background-color: $primary-color;
            margin-right: 1rem;
          }
        }

        .staff {
          div {
            background-color: $blue-light;
          }
        }

        .btn-download {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
          margin-top: auto;
          background-color: $primary-color;
          border: none;
          padding: 0.7rem 1rem;
          width: 190px;
          color: white;
          border-radius: 5px;
          font-size: 14px;

          img {
            margin-right: 1rem;
            width: 15px;
            height: 15px;
          }
        }
      }

      .empty__container {
        width: 739px;
        height: 300px;
        background-color: $bg-button;
        display: grid;
        place-items: center;
        font-size: 12px;
      }
    }
  }
}

.sidebar-right {
  border-left: 1px solid $secondary-color;
  position: relative;

  .wrapper-calendar {
    margin-top: 1rem;
  }

  .wrapper-calendar,
  .jadwal {
    padding: 0 2rem;
  }

  .jadwal {
    margin-top: 2rem;
    .loading::before {
      margin: 2rem 1rem;
    }

    h1 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    .card-jadwal {
      width: 100%;
      border: 1px solid $secondary-color;
      border-radius: 5px;
      padding: 1rem;
      margin-bottom: 1rem;

      h4 {
        font-weight: 600;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 12px;
        color: $grey;
      }

      span {
        font-weight: 500;
      }

      div {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }
    }
  }
}
