@import "../variables/variables.scss";

.nav {
  width: 225px;
  height: 100vh;
  border-right: 1px solid $secondary-color;
  position: sticky;
  top: 0;

  .active-sidebar {
    color: $primary-color;

    .active.img {
      filter: brightness(0) saturate(100%) invert(29%) sepia(95%)
        saturate(2816%) hue-rotate(221deg) brightness(95%) contrast(93%);
    }
  }

  .logo-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;

    img {
      width: 108px;
      height: 108px;
    }

    h1 {
      font-size: 20px;
      font-weight: 600;
      margin-top: 1rem;
    }
  }

  ul {
    li {
      list-style: none;
      margin-bottom: 1.5rem;

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-weight: 600;
        color: $grey;
        cursor: pointer;

        img {
          width: 20px;
          height: 20px;
          margin-right: 1rem;
        }
      }
    }
  }
}
