$primary-color: #3661eb;
$blue-light: #c2d2ff;
$background-color: #f9f9f9;
$secondary-color: #ebf0fe;
$bg-button: #f3f3f3;
$light-grey: #a6a6a6;
$grey: #9b9b9b;
$white: #ffffff;
$danger-color: #ff4530;
