.karyawan {
  width: 82%;
  padding: 2rem;
}
.karyawan .loading-table {
  position: absolute;
  width: 100% !important;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}
.karyawan .loading::before {
  margin: 0;
}
.karyawan .search-and-profile {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}
.karyawan .search-and-profile .wrap-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.karyawan .search-and-profile .wrap-search .search {
  width: 300px;
  height: 48px;
  margin-right: 1rem;
  background-color: #F3F3F3;
}
.karyawan .search-and-profile .wrap-search .btn-search {
  height: 48px;
}
.karyawan .search-and-profile .profile {
  width: 25%;
}
.karyawan .title-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.karyawan .title-btn h1 {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 1rem;
}
.karyawan .title-btn a {
  width: 150px;
  height: 45px;
  background-color: #3661EB;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.karyawan .tabbar-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: white;
  padding: 1rem 1.5rem;
  padding-left: 0;
  padding-bottom: 0;
  border: 1px solid #ECEEF2;
  border-radius: 10px;
}
.karyawan .tabbar-filter .filter-angka {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.karyawan .tabbar-filter .filter-angka p {
  color: #9B9B9B;
  font-size: 14px;
}
.karyawan .row-img {
  padding: 0.5rem 0;
}
.karyawan .niy-col {
  padding-left: 1.5rem;
  color: #3661EB;
  font-weight: 600;
}
.karyawan .action-col img {
  cursor: pointer;
}
.karyawan .action-col a {
  margin: 0 1rem;
}

.detail-karyawan {
  width: 80%;
}
.detail-karyawan .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #EBF0FE;
  padding: 1rem 2.5rem;
}
.detail-karyawan .navigation div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.detail-karyawan .navigation div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.detail-karyawan .navigation div h1 {
  font-size: 24px;
  font-weight: 500;
  margin-left: 2rem;
}
.detail-karyawan .navigation .btn-submit {
  width: 125px;
  height: 40px;
  background-color: #3661EB;
  border-radius: 8px;
  border: none;
  outline: none;
  color: white;
}
.detail-karyawan .navigation .btn-submit:disabled {
  background-color: #5A6474;
  opacity: 0.7;
  cursor: not-allowed;
}
.detail-karyawan .detail-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.detail-karyawan .form {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 2.5rem;
}
.detail-karyawan .form .validator-text {
  color: #FF4530;
  font-size: 12px;
  margin: 0.25rem 0rem 0rem;
}
.detail-karyawan .form label {
  font-size: 18px;
  font-weight: 500;
  color: black;
  margin-bottom: 1rem;
}
.detail-karyawan .form input {
  height: 45px;
  border: 2px solid #ECEEF2;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  color: #5A6474;
  padding: 0 1rem;
}
.detail-karyawan .form input::-webkit-input-placeholder {
  color: #9B9B9B;
}
.detail-karyawan .form input::-moz-placeholder {
  color: #9B9B9B;
}
.detail-karyawan .form input:-ms-input-placeholder {
  color: #9B9B9B;
}
.detail-karyawan .form input::-ms-input-placeholder {
  color: #9B9B9B;
}
.detail-karyawan .form input::placeholder {
  color: #9B9B9B;
}
.detail-karyawan .form .nama, .detail-karyawan .form .niy, .detail-karyawan .form .email, .detail-karyawan .form .no-hp, .detail-karyawan .form .jabatan, .detail-karyawan .form .gender, .detail-karyawan .form .alamat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.detail-karyawan .form .nama, .detail-karyawan .form .niy, .detail-karyawan .form .email, .detail-karyawan .form .no-hp, .detail-karyawan .form .jabatan-gender {
  margin-bottom: 1rem;
}
.detail-karyawan .form .nama img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-bottom: 1rem;
  position: absolute;
  right: 0;
  -webkit-transform: translate(-50%, 225%);
          transform: translate(-50%, 225%);
  cursor: pointer;
}
.detail-karyawan .form .niy img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-bottom: 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(-50%, 25%);
          transform: translate(-50%, 25%);
  cursor: pointer;
}
.detail-karyawan .form .alamat textarea {
  height: 150px;
  border: 2px solid #ECEEF2;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  color: #5A6474;
  padding: 1rem 1rem 0;
  resize: none;
  font-family: "Poppins";
}
.detail-karyawan .form .jabatan-gender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.5rem;
}
.detail-karyawan .form .jabatan-gender .select select {
  width: 100%;
  height: 45px;
  border: 2px solid #ECEEF2;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  color: #5A6474;
  padding: 0 1rem;
}
.detail-karyawan .form .jabatan-gender .select select::-webkit-input-placeholder {
  color: #9B9B9B;
}
.detail-karyawan .form .jabatan-gender .select select::-moz-placeholder {
  color: #9B9B9B;
}
.detail-karyawan .form .jabatan-gender .select select:-ms-input-placeholder {
  color: #9B9B9B;
}
.detail-karyawan .form .jabatan-gender .select select::-ms-input-placeholder {
  color: #9B9B9B;
}
.detail-karyawan .form .jabatan-gender .select select::placeholder {
  color: #9B9B9B;
}
.detail-karyawan .form .jabatan-gender .select select:focus {
  border: 2px solid #3661EB;
}
.detail-karyawan .form .jabatan-gender .select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../../assets/icons/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1em;
}
.detail-karyawan .form .jabatan-gender .jabatan {
  width: 65%;
}
.detail-karyawan .form .jabatan-gender .gender {
  width: 35%;
}
.detail-karyawan .detail-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 2rem;
  gap: 1.5rem;
}
.detail-karyawan .detail-profile .wrapper-img {
  position: relative;
}
.detail-karyawan .detail-profile .wrapper-img .edit-img {
  width: 35px;
  height: 35px;
  background-color: #3661EB;
  border-radius: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.detail-karyawan .detail-profile .wrapper-img .edit-img img {
  width: 20px;
  height: 20px;
}
.detail-karyawan .detail-profile .wrapper-img .edit-img input {
  display: none;
}
.detail-karyawan .detail-profile .jabatan {
  margin-bottom: 1.5rem;
}
.detail-karyawan .detail-profile .select label {
  font-size: 18px;
  font-weight: 500;
  color: black;
  margin-bottom: 1rem;
}
.detail-karyawan .detail-profile .select select {
  width: 100%;
  height: 45px;
  border: 2px solid #ECEEF2;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  color: #5A6474;
  padding: 0 1rem;
}
.detail-karyawan .detail-profile .select select::-webkit-input-placeholder {
  color: #9B9B9B;
}
.detail-karyawan .detail-profile .select select::-moz-placeholder {
  color: #9B9B9B;
}
.detail-karyawan .detail-profile .select select:-ms-input-placeholder {
  color: #9B9B9B;
}
.detail-karyawan .detail-profile .select select::-ms-input-placeholder {
  color: #9B9B9B;
}
.detail-karyawan .detail-profile .select select::placeholder {
  color: #9B9B9B;
}
.detail-karyawan .detail-profile .select select:focus {
  border: 2px solid #3661EB;
}
.detail-karyawan .detail-profile .select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../../assets/icons/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1em;
}
.detail-karyawan .detail-profile .div-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}
.detail-karyawan .detail-profile .div-1 h1 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 2rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.detail-karyawan .detail-profile .div-1 img {
  width: 124px;
  height: 124px;
  border-radius: 50%;
}
.detail-karyawan .detail-profile .div-1 h3 {
  font-size: 14px;
  font-weight: 400;
  color: #5A6474;
  margin: 1rem 0 0.25rem;
}
.detail-karyawan .detail-profile .div-1 p {
  font-size: 11px;
  color: #9B9B9B;
}