.kehadiran h1 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 1rem;
}
.kehadiran .search-calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  width: 100%;
  background-color: white;
  padding: 1rem 1.5rem;
  border: 1px solid #EBF0FE;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 1rem;
}
.kehadiran .search-calendar .search {
  background-position: 5% 50%;
  background-size: 13px;
  border: none;
  width: 60%;
  padding: 0.5rem;
  outline: none;
  font-weight: 400;
}
.kehadiran .search-calendar .wrapper-pilih-tanggal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  width: 40%;
}
.kehadiran .search-calendar .wrapper-pilih-tanggal img {
  width: 14px;
  height: 14px;
}
.kehadiran .search-calendar .wrapper-pilih-tanggal .pilih-tanggal {
  width: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1.5px solid #EBF0FE;
  padding: 0.5rem;
  padding-right: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.kehadiran .search-calendar .wrapper-pilih-tanggal .pilih-tanggal .btn-pilih-tanggal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.kehadiran .search-calendar .wrapper-pilih-tanggal .pilih-tanggal .react-calendar {
  width: 300px;
  position: absolute;
  border: 1.5px solid #EBF0FE;
  padding: 1rem;
  border-radius: 7px;
  -webkit-transform: translateX(25%);
          transform: translateX(25%);
  z-index: 999;
}
.kehadiran .search-calendar .wrapper-pilih-tanggal .pilih-tanggal img {
  width: 13px;
  height: 13px;
  margin-right: 0.5rem;
}
.kehadiran .search-calendar .wrapper-pilih-tanggal .pilih-tanggal p {
  font-size: 10px;
  color: #A6A6A6;
}
.kehadiran .search-calendar .btn-search {
  width: 50px;
  height: 35px;
  border-radius: 3px;
  border: 2px solid #ECEEF2;
  background-color: white;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.kehadiran .search-calendar .btn-search img {
  width: 13px;
  height: 13px;
}
.kehadiran .tabbar-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: white;
  padding: 1rem 1.5rem;
  padding-left: 0;
  padding-bottom: 0;
  border: 1px solid #EBF0FE;
  border-top: none;
}
.kehadiran .tabbar-filter .filter-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
.kehadiran .table {
  width: 100%;
  background-color: white;
  padding: 1rem 1.5rem;
  border: 1px solid #EBF0FE;
  border-top: none;
  border-collapse: collapse;
}
.kehadiran .table thead th {
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  padding: 1.5rem 0;
}
.kehadiran .table thead th:nth-child(1) {
  padding-left: 1.5rem;
}
.kehadiran .table tbody tr {
  width: 100%;
}
.kehadiran .table tbody tr:nth-child(odd) {
  background-color: #EBF0FE;
}
.kehadiran .table tbody .btn-detail {
  background-color: #3661EB;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  font-size: 10px;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
}
.kehadiran .table td {
  font-size: 10px;
  color: #9B9B9B;
}
.kehadiran .table .row-img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1.5rem;
}
.kehadiran .table .row-img img {
  width: 35px;
  height: 35px;
  margin-right: 1rem;
  border-radius: 50%;
}

.detail {
  width: 80%;
}
.detail .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #EBF0FE;
  padding: 1rem 2.5rem;
}
.detail .navigation a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.detail .navigation h1 {
  font-size: 24px;
  font-weight: 500;
  margin-left: 2rem;
}
.detail .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3rem;
}
.detail .main .detail-masuk-keluar {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  padding: 2rem 2.5rem;
}
.detail .main .detail-masuk-keluar .masuk-keluar {
  width: 315px;
}
.detail .main .detail-masuk-keluar .masuk-keluar .jam-masuk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}
.detail .main .detail-masuk-keluar .masuk-keluar .jam-masuk h3 {
  font-size: 18px;
  font-weight: 500;
}
.detail .main .detail-masuk-keluar .masuk-keluar .jam-masuk p {
  font-size: 12px;
}
.detail .main .detail-masuk-keluar .masuk-keluar .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #EBF0FE;
}
.detail .main .detail-masuk-keluar .masuk-keluar .card .foto-masuk, .detail .main .detail-masuk-keluar .masuk-keluar .card .default-foto {
  display: grid;
  place-items: center;
  width: 315px;
  height: 372px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 0;
     object-position: 100% 0;
  cursor: pointer;
}
.detail .main .detail-masuk-keluar .masuk-keluar .card .pop-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 999;
  cursor: pointer;
}
.detail .main .detail-masuk-keluar .masuk-keluar .card .pop-up .img-user {
  height: 80vh;
}
.detail .main .detail-masuk-keluar .masuk-keluar .card .note, .detail .main .detail-masuk-keluar .masuk-keluar .card .coordinates {
  padding: 1rem;
}
.detail .main .detail-masuk-keluar .masuk-keluar .card .note h3, .detail .main .detail-masuk-keluar .masuk-keluar .card .coordinates h3 {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.detail .main .detail-masuk-keluar .masuk-keluar .card .note p, .detail .main .detail-masuk-keluar .masuk-keluar .card .coordinates p {
  font-size: 10px;
  color: #9B9B9B;
}
.detail .main .detail-masuk-keluar .masuk-keluar .card .coordinates {
  background-color: #F9F9F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.detail .main .detail-masuk-keluar .masuk-keluar .card .coordinates h3 {
  margin-bottom: 0;
}
.detail .main .detail-masuk-keluar .masuk-keluar .card .coordinates div:nth-child(1) {
  margin-right: 6rem;
}
.detail .main .detail-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 35%;
  padding: 2rem 2rem;
  border-left: 1px solid #EBF0FE;
  height: 90vh;
}
.detail .main .detail-profile .div-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}
.detail .main .detail-profile .div-1 h1 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 2rem;
}
.detail .main .detail-profile .div-1 img {
  width: 124px;
  height: 124px;
  border-radius: 50%;
}
.detail .main .detail-profile .div-1 h3 {
  font-size: 14px;
  font-weight: 400;
  color: #5A6474;
  margin: 1rem 0 0.25rem;
}
.detail .main .detail-profile .div-1 p {
  font-size: 11px;
  color: #9B9B9B;
}
.detail .main .detail-profile .div-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}
.detail .main .detail-profile .info h3 {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 0.25rem;
}
.detail .main .detail-profile .info p {
  font-size: 12px;
  color: #9B9B9B;
}
.detail .main .detail-profile a {
  width: 125px;
  color: white;
  border: none;
  padding: 0.5rem 0;
  background-color: #3661EB;
  border-radius: 8px;
  text-align: center;
  margin: 0 auto;
  margin-top: 5rem;
  text-decoration: none;
  font-size: 14px;
}

.sidebar-right .kehadiran-terbaru .header-refresh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5rem;
}
.sidebar-right .kehadiran-terbaru .header-refresh h3 {
  font-size: 20px;
  font-weight: 600;
}
.sidebar-right .kehadiran-terbaru ul .loading::before {
  margin: 0 1rem;
}
.sidebar-right .kehadiran-terbaru ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin-bottom: 1rem;
}
.sidebar-right .kehadiran-terbaru ul li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sidebar-right .kehadiran-terbaru ul li div p {
  font-size: 12px;
  font-weight: 600;
}
.sidebar-right .kehadiran-terbaru ul li div p:nth-child(2) {
  color: #9B9B9B;
}
.sidebar-right .kehadiran-terbaru ul li img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 1.5rem;
}